version: '3.6'
services:
  iris:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 1972
      - 52774:52773
      - 53773
    environment:
      - MY_SECRET_KEY="Top Secret"
    volumes:
      - ./:/home/irisowner/dev
